/* public/css/theme.css */
body {
    background-color: #f4f4f9;
    color: #333;
}

header, footer {
    background-color: #6200ea;
}

a {
    color: #6200ea;
}

button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3700b3;
}
